.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toform{
 display: flex;

}
*{
 transition: .2s linear;
}
.to-nav{
 margin-top: 2rem;
 box-shadow: 0 0 20px 5px #1c7a3d;
 border-radius: 8px;
 height: max-content;
}
.todo-inpt {
 font-size: 20px;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  padding: 13px 1.5rem;
}
.todo-btn,
.edit-btn {
  font-size: 20px;
  padding: 13px 1.5rem;
  background-color: #284833;
  outline: none;
  border: none;
  color: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.edit-btn {
  position: absolute;
  display: none;
  right: 0;
 }
 .list-father {
  margin-top: 2rem;
  box-shadow: 0 0 20px 5px #1c7a3d;
  background-color: #fff;
  list-style-type: none;
  width: 360px;
  border-radius: 8px;
  padding: 1rem;
 }
 .list-child {
  color: #000;
  margin-bottom: 10px;
  font-size: 20px;
  color: #1c7a3d;
  border-bottom: 1px solid #1c7a3d;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .btns-list {
  font-size: 15px;
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: space-between;
 }
 .todo-delet,
 .todo-edit,
 .todo-check,
 .todo-btn {
  cursor: pointer;
 }
 .todo-num {
  background-color: #1c7a3d;
  border-radius: 4px;
  font-size: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 6px;
  color: #fff;
 }
 .todo-text {
  display: flex;
  max-width: 240px;
  width: max-content;
  justify-content: space-between;
 }
 .check {
  text-decoration: line-through;
  opacity: 0.6;
  cursor: pointer;
  font-size: 20px;
 }
 .val {
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
  color: #1c7a3d;
 }
 .selects {
  padding: 0 10px;
  margin-top: 2rem;
  box-shadow: 0 0 20px 5px #1c7a3d;
  margin-left: 1.5rem;
  border: none;
  height: 50px;
  outline: none;
  border-radius: 8px;
 }
 .light{
  background: #fff;
  color: #222;
 }
 .lightstyle{
  background: #222;
  color: #fff;
 }
 .todo-st{
  color: #49ce78;

 }
 .to-num{
  background: #49ce78;
 }
 .to-btn{
  background: #fff;
  color: #1c7a3d;
 }
 .text-dark{
  color: #222;
  text-shadow: 0 0 5px #222;
 }
 @media screen and (max-width:560px) {
.toform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.to-nav{
  width: 90vw;
  max-width: max-content;

}
.todo-inpt,.todo-btn{
  font-size: 15px;
  padding: 10px 12px;
height: 100%;
}
.list-father{
  font-size: 15px;
  max-width: 320px;
  width: 90vw;
}
 }